<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发布会管理</title>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<h1 style="font-size: 24px;font-weight: bold">请登录</h1>
<form class="navbar-form" method="post" action="/login_action/">
    <input class="form-control" name="username" type="text" placeholder="用户名">
    <input class="form-control"name="password" type="password" placeholder="登录密码">
    {{ error }}<br>
    <button id="loginbtn" class="btn btn-success" type="submit">登录</button>
    <!--{% csrf_token %}-->
</form>
</body>
</html>